<a mat-raised-button color="warn" routerLink="/produto/cadastrar">
    <mat-icon>event</mat-icon>
    Novo Produto
  </a>
  
  <table mat-table [dataSource]="produtos" class="mat-elevation-z8">
    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let produto"> {{produto._id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="codigoBarras">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{ produto.codigoBarras }} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{ produto.preco }} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Criado em </th>
      <td mat-cell *matCellDef="let produto"> {{ produto.createdAt | date: "dd/MM/yyyy HH:mm:ss" }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  